# From MB to KB of data

My original data is much too big to fit on GitHub. I had to write this utility to export just the subset I need for these graphs.

In [18]:
import pandas as pd
def to_xlsx(filename):
    return "{}.xlsx".format(filename)
def to_xls(filename):
    return "{}.xls".format(filename)

In [19]:
%time xl = pd.ExcelFile(to_xlsx('Escalade2015'))
xl.sheet_names

CPU times: user 15.7 s, sys: 90.8 ms, total: 15.8 s
Wall time: 15.8 s

['Sheet1', 'Sheet2', 'Sheet3']

In [22]:
df = xl.parse('Sheet1', usecols=['pays', 'année', 'rang', 'temps net', 'catégorie'])#, 'nom'])
df.head()

             catégorie rang année pays temps net
0  Escaladelite Hommes   1.  1982   CH   20.54,5
1  Escaladelite Hommes  25.  1989   GB   21.53,3
2  Escaladelite Hommes   7.  1992   GB   21.17,9
3  Escaladelite Hommes  13.  1987  KEN   21.26,4
4  Escaladelite Hommes   8.  1985   EE   21.20,5

In [23]:
from math import nan
def get_age(year):
    try:
        return 2015 - int(year)
    except:
        return nan

In [24]:
df['Age'] = df['année'].apply(get_age)

In [25]:
def get_vitesse(temps):
    try:
        temps = float(temps.replace(',',''))
        return (60/temps)*7.323
    except:
        return nan

get_vitesse(23)

nan

In [26]:
catlist = set(df['catégorie'].tolist())
catlist

{'Cadets A',
 'Cadets B',
 'Cadettes A',
 'Cadettes B',
 'Ecoliers A',
 'Ecoliers B10',
 'Ecoliers B11',
 'Ecolières A',
 'Ecolières B10',
 'Ecolières B11',
 'Escaladelite Femmes',
 'Escaladelite Hommes',
 'Femmes I',
 'Femmes II',
 'Femmes III',
 'Femmes IV',
 'Femmes Juniors',
 'Femmes V',
 'Femmes VI',
 'Hommes I',
 'Hommes II',
 'Hommes III',
 'Hommes IV',
 'Hommes Juniors',
 'Hommes V',
 'Hommes VI',
 'Hors catégorie',
 'Marmite Adultes',
 'Marmite Jeunes',
 'Mix 2 - Femmes 4.8km',
 'Mix 2 - Hommes 4.8km',
 'Mix 3 - Femmes 7.3km',
 'Mix 3 - Hommes 7.3km',
 'Poussines A8',
 'Poussines A9',
 'Poussines B6',
 'Poussines B7',
 'Poussins A8',
 'Poussins A9',
 'Poussins B6',
 'Poussins B7',
 'Walking Adultes',
 'Walking Jeunes'}

In [27]:
df['vitesse'] = df['temps net'].apply(get_vitesse)

In [28]:
def selCategory(category):
#    if category in ('Escaladélite femmes', 'Escaladélite hommes', 'Femmes I', 'Femmes II', 'Femmes III', 'Femmes IV', 'Femmes V', 'Femmes VI', 'Hommes I', 'Hommes II', 'Hommes III', 'Hommes IV', 'Hommes V', 'Hommes VI'):
    if category in ('Escaladelite Femmes', 'Escaladelite Hommes', 'Femmes I', 'Femmes II', 'Femmes III', 'Femmes IV', 'Femmes V', 'Femmes VI', 'Hommes I', 'Hommes II', 'Hommes III', 'Hommes IV', 'Hommes V', 'Hommes VI'):
        return True
    else:
        return False
dfx = df[df['catégorie'].apply(selCategory)]
dfx.to_csv('Data_selection.csv')