In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import requests
import urllib
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
%matplotlib inline

In [2]:
df = pd.read_excel('data/PW_Disclosure_Data_FY15_Q4.xlsx')

In [5]:
df_print = df.head()
df_print.to_csv('looking.csv')

In [7]:
df['VISA_CLASS'].value_counts()

PERM               120515
H-2B                12147
H-1B                 6355
E-3 Australian         89
H-1B1 Chile            12
H-1B1 Singapore         2
Name: VISA_CLASS, dtype: int64

In [8]:
df = pd.read_excel('data/H-1B_Disclosure_Data_FY15_Q4.xlsx')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 618804 entries, 0 to 618803
Data columns (total 40 columns):
CASE_NUMBER              618804 non-null object
CASE_STATUS              618804 non-null object
CASE_SUBMITTED           618804 non-null datetime64[ns]
DECISION_DATE            618804 non-null datetime64[ns]
VISA_CLASS               618804 non-null object
EMPLOYMENT_START_DATE    618785 non-null object
EMPLOYMENT_END_DATE      618785 non-null object
EMPLOYER_NAME            618781 non-null object
EMPLOYER_ADDRESS1        618778 non-null object
EMPLOYER_ADDRESS2        310861 non-null object
EMPLOYER_CITY            618773 non-null object
EMPLOYER_STATE           618761 non-null object
EMPLOYER_POSTAL_CODE     618766 non-null object
EMPLOYER_COUNTRY         618782 non-null object
EMPLOYER_PROVINCE        8760 non-null object
EMPLOYER_PHONE           618742 non-null float64
EMPLOYER_PHONE_EXT       38244 non-null float64
AGENT_ATTORNEY_NAME      391678 non-null object
AGENT_ATTORNEY_CITY      391676 non-null object
AGENT_ATTORNEY_STATE     383641 non-null object
JOB_TITLE                618784 non-null object
SOC_CODE                 618789 non-null object
SOC_NAME                 618788 non-null object
NAIC_CODE                618784 non-null float64
TOTAL WORKERS            618789 non-null float64
FULL_TIME_POSITION       618791 non-null object
PREVAILING_WAGE          618737 non-null float64
PW_UNIT_OF_PAY           618727 non-null object
PW_WAGE_LEVEL            590096 non-null object
PW_WAGE_SOURCE           618730 non-null object
PW_WAGE_SOURCE_YEAR      618723 non-null float64
PW_WAGE_SOURCE_OTHER     608362 non-null object
WAGE_RATE_OF_PAY         618804 non-null object
WAGE_UNIT_OF_PAY         618774 non-null object
H-1B_DEPENDENT           606330 non-null object
WILLFUL VIOLATOR         606328 non-null object
WORKSITE_CITY            618769 non-null object
WORKSITE_COUNTY          617408 non-null object
WORKSITE_STATE           618777 non-null object
WORKSITE_POSTAL_CODE     618765 non-null object
dtypes: datetime64[ns](2), float64(6), object(32)
memory usage: 188.8+ MB

In [16]:
df['CASE_STATUS'].value_counts()

CERTIFIED              547278
CERTIFIED-WITHDRAWN     41071
WITHDRAWN               19472
DENIED                  10983
Name: CASE_STATUS, dtype: int64

In [23]:
df.groupby('SOC_NAME')['TOTAL WORKERS'].sum().sort_values(ascending=False).head(10)

SOC_NAME
COMPUTER SYSTEMS ANALYSTS                      346299.0
SOFTWARE DEVELOPERS, APPLICATIONS              155568.0
COMPUTER PROGRAMMERS                           149635.0
COMPUTER OCCUPATIONS, ALL OTHER                118980.0
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE           72788.0
MANAGEMENT ANALYSTS                             36266.0
ACCOUNTANTS AND AUDITORS                        36169.0
FINANCIAL ANALYSTS                              29947.0
COMPUTER AND INFORMATION SYSTEMS MANAGERS       21096.0
NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS     20694.0
Name: TOTAL WORKERS, dtype: float64

In [21]:
df['EMPLOYER_STATE'].value_counts().head(10)

CA    100179
TX     92438
NJ     87701
NY     43671
IL     36406
PA     25350
MD     24516
MI     22739
NC     20756
VA     20633
Name: EMPLOYER_STATE, dtype: int64

In [24]:
df[df['EMPLOYER_STATE'] == 'CA'].groupby('SOC_NAME')['TOTAL WORKERS'].sum().sort_values(ascending=False).head(10)

SOC_NAME
SOFTWARE DEVELOPERS, APPLICATIONS                     36835.0
COMPUTER SYSTEMS ANALYSTS                             24202.0
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE                 18891.0
COMPUTER PROGRAMMERS                                  16455.0
COMPUTER OCCUPATIONS, ALL OTHER                       14701.0
ELECTRONICS ENGINEERS, EXCEPT COMPUTER                12273.0
COMPUTER HARDWARE ENGINEERS                            4168.0
NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS            3655.0
ELECTRICAL ENGINEERS                                   3071.0
MARKET RESEARCH ANALYSTS AND MARKETING SPECIALISTS     2336.0
Name: TOTAL WORKERS, dtype: float64

In [33]:
df[df['EMPLOYER_STATE'] == 'MT'].groupby('SOC_NAME')['TOTAL WORKERS'].sum().sort_values(ascending=False).head(10)

SOC_NAME
PHYSICIANS AND SURGEONS, ALL OTHER               6.0
ENGINEERING TEACHERS, POSTSECONDARY              5.0
SOIL AND PLANT SCIENTISTS                        4.0
REGISTERED NURSES                                4.0
BIOLOGICAL SCIENTISTS, ALL OTHER                 4.0
BUSINESS TEACHERS, POSTSECONDARY                 4.0
MEDICAL AND CLINICAL LABORATORY TECHNOLOGISTS    4.0
MATHEMATICAL SCIENCE TEACHERS, POSTSECONDARY     3.0
MENTAL HEALTH COUNSELORS                         3.0
SURGEONS                                         2.0
Name: TOTAL WORKERS, dtype: float64

In [32]:
df[df['EMPLOYER_STATE'] == 'MT'].groupby('SOC_NAME')['TOTAL WORKERS'].sum().sort_values(ascending=False).head(10)

SOC_NAME
PHYSICIANS AND SURGEONS, ALL OTHER               6.0
ENGINEERING TEACHERS, POSTSECONDARY              5.0
SOIL AND PLANT SCIENTISTS                        4.0
REGISTERED NURSES                                4.0
BIOLOGICAL SCIENTISTS, ALL OTHER                 4.0
BUSINESS TEACHERS, POSTSECONDARY                 4.0
MEDICAL AND CLINICAL LABORATORY TECHNOLOGISTS    4.0
MATHEMATICAL SCIENCE TEACHERS, POSTSECONDARY     3.0
MENTAL HEALTH COUNSELORS                         3.0
SURGEONS                                         2.0
Name: TOTAL WORKERS, dtype: float64